<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<title>World Cup Guess</title>

<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
<link th:href="@{/font-awesome/css/font-awesome.css}" rel="stylesheet" />

<!-- Toastr style -->
<link th:href="@{/css/plugins/toastr/toastr.min.css}" rel="stylesheet"/>

<link th:href="@{/css/style.css}" rel="stylesheet" />

<!-- summernote style -->
<link th:href="@{/css/plugins/summernote/summernote.css}" rel="stylesheet" />
<link th:href="@{/css/plugins/summernote/summernote-bs3.css}" rel="stylesheet" />

<!-- datetimepicker -->
<link href="@{/css/bootstrap-datetimepicker.min.css}" rel="stylesheet" />  

</head>

<body>

    <div id="wrapper">
		<nav class="navbar-default navbar-static-side" role="navigation" th:include="nav :: navigation"></nav>
		<div id="page-wrapper" class="gray-bg">
        	<div class="border-bottom" th:include="header :: headerTop"></div>
      		<div class="row wrapper border-bottom white-bg page-heading" th:fragment="headerNav">
		   		<div class="col-lg-10">
		     		<h2>热门赛事</h2>
		          	<ol class="breadcrumb">
			            <li>
			            	<a href="#">首页</a>
			            </li>
			            <li>
			            	<a>赛事竞猜</a>
			         	</li>
			         	<li>
			             	<a>热门赛事</a>
			          	</li>
			          	<li class="active">
			             	<strong>赛事新增</strong>
			          	</li>
					</ol>
		      	</div>
		      	<div class="col-lg-2">
		      	</div>
		  	</div>
        	<div class="wrapper wrapper-content animated fadeInRight">
            
            
            
            <div class="row">
                <div class="col-lg-12">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>新增赛事</h5>
                            <div class="ibox-tools">
                                <a class="collapse-link">
                                    <i class="fa fa-chevron-up"></i>
                                </a>
                            </div>
                        </div>
                        <div class="ibox-content">
                            <form id="formTag" action="/admin/matchEdit" method="POST" class="form-horizontal">
                            	
                                <div class="form-group"><label class="col-sm-2 control-label">主场：</label>
                                    <div class="col-sm-10">
                                    	<input id="home" name="home" type="text" class="form-control" th:value="${match.home}"/>
                                    </div>
                                </div>
                                
                                <div class="hr-line-dashed"></div>
            
                              <div class="form-group"><label class="col-sm-2 control-label">客场：</label>
                                    <div class="col-sm-10">
                                    	<input id="away" name="away" type="text" class="form-control" th:value="${match.away}"/>
                                    </div>
                                </div>
                                
                                <div class="hr-line-dashed"></div>            
            
            
                                <div class="form-group"><label class="col-sm-2 control-label">比赛时间：</label>
                                    <div class="col-sm-10">
                                    	<input id="matchDate" name="matchDate" type="text" class="form-control" th:value="${match.matchDate}"/>
                                    </div>
                                </div>
                                
                                <div class="hr-line-dashed"></div>
                                
                                <div class="form-group"><label class="col-sm-2 control-label">主胜：</label>
                                    <div class="col-sm-10">
                                    	<input id="homeOdds" name="homeOdds" type="text" class="form-control" th:value="${match.homeOdds}"/>
                                    </div>
                                </div>
                                
                                <div class="hr-line-dashed"></div>
                                
                                <div class="form-group"><label class="col-sm-2 control-label">平局：</label>
                                    <div class="col-sm-10">
                                    	<input id="drawOdds" name="drawOdds" type="text" class="form-control" th:value="${match.drawOdds}"/>
                                    </div>
                                </div>
                                
                                <div class="hr-line-dashed"></div>
                                
                                <div class="form-group"><label class="col-sm-2 control-label">客胜：</label>
                                    <div class="col-sm-10">
                                    	<input id="awayOdds" name="awayOdds" type="text" class="form-control" th:value="${match.awayOdds}"/>
                                    </div>
                                </div>
                                
                                <div class="hr-line-dashed"></div>
                                
                                <div class="form-group"><label class="col-sm-2 control-label">竞猜截止时间：</label>
                                    <div class="col-sm-10">
                                    	<input id="guessDeadline" name="guessDeadline" type="text" class="form-control" th:value="${match.guessDeadline}"/>
                                    </div>
                                </div>
                                
                                <div class="hr-line-dashed"></div>
                                
 
                                <div class="form-group">
                                    <div class="col-sm-4 col-sm-offset-2">
                                        <button id="submitButton" class="btn btn-primary" type="button">&nbsp;&nbsp;&nbsp;&nbsp;提&nbsp;&nbsp;&nbsp;&nbsp;交&nbsp;&nbsp;&nbsp;&nbsp;</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            
            </div>
        	<div class="footer" th:include="footer :: copyright"></div>
      	</div>
	</div>
	
    <!-- Mainly scripts -->
    <script th:src="@{/js/jquery-2.1.1.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <script th:src="@{/js/plugins/metisMenu/jquery.metisMenu.js}"></script>
    <script th:src="@{/js/plugins/slimscroll/jquery.slimscroll.min.js}"></script>
	
    <!-- Peity -->
    <script th:src="@{/js/plugins/peity/jquery.peity.min.js}"></script>
    
    <!-- Custom and plugin javascript -->
    <script th:src="@{/js/inspinia.js}"></script>
    <script th:src="@{/js/plugins/pace/pace.min.js}"></script>
    
    <!-- Toastr script -->
    <script th:src="@{/js/plugins/toastr/toastr.min.js}"></script>
    
    <!-- common -->
    <script th:src="@{/js/common.js}"></script>
    
    <!-- SUMMERNOTE -->
    <script th:src="@{/js/plugins/summernote/summernote.min.js}"></script>
    
    <!-- datatimepicker -->  
    <script src="@{/js/bootstrap-datetimepicker.min.js}"></script>  
    <script th:inline="javascript">
   
    </script>
    
    <script th:inline="javascript">
    $(document).ready(function () {
			//提交
			$("#submitButton").click(function(){
				if($("#home").val() == ""){
					toastr.error('请输入赛事主场','提示');
					return;
				}
				if($("#away").val() == 0){
					toastr.error('请选择赛事客场','提示');
					return;
				}
			
				$("#formTag").submit();
			});
		});
    </script>

</body>

</html>
